__pycache__/astronomyobjects.cpython-314.pyc
__pycache__/atom.cpython-314.pyc
__pycache__/drilldownsizing.cpython-314.pyc
__pycache__/levelonesizeandmass.cpython-314.pyc
__pycache__/levelthreesizeandmass.cpython-314.pyc
__pycache__/leveltwosizeandmass.cpython-314.pyc
__pycache__/primesizeandmass.cpython-314.pyc
__pycache__/prtfunction.cpython-314.pyc
__pycache__/refitems.cpython-314.pyc
